@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center"> *@
    @* <h1 class="display-4">Welcome</h1> *@
   @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
 @*  <p>This app is build using ASP.NET MVC</p>
   <p>It allows user to book appointment based on availability</p>
   *@


<style>
    body {
        background-image: url('/image/online.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>
@*
<div class="text-center text-white p-5">
    <h1 class="display-4">Welcome to Our Portal</h1>
    <p>This is our homepage with a background image set on the body.</p>
</div>
*@